body {
  padding-left: 10px;
  padding-right: 40px;
}

p {
  font-family: arial 12px;
  font:size: 50px;
}

/* Remove the following style for div to remove the border. */

div {
  border-style: solid;
  border: 1px solid black;
}

